{
  "tabWidth": 4,
  "useTabs": true,
  "bracketSpacing": true,
  "files.associations": {
    "*.hpp": "cpp",
    "*.tpp": "cpp",
    "*.h": "c"
  },
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "ms-vscode.cpptools",
  "editor.rulers": [80],
  "C_Cpp.clang_format_style": {
    "BasedOnStyle": "Google",
    "IndentWidth": 4,
    "UseTab": "Always",
    "BreakBeforeBraces": "Allman",
    "AllowShortFunctionsOnASingleLine": "None",
    "ColumnLimit": 80,
    "AccessModifierOffset": -4,
    "NamespaceIndentation": "None",
    "FixNamespaceComments": true,
    "MaxEmptyLinesToKeep": 1,
    "PointerAlignment": "Right",
    "SortIncludes": true
  },
  "C_Cpp.default.cppStandard": "c++98",
  "C_Cpp.default.cStandard": "c99",
  "C_Cpp.intelliSenseEngineFallback": "enabled",
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "terminal.integrated.defaultProfile.linux": "bash",
  "workbench.colorTheme": "Default Dark+"
}